/*tela de cadastro de usuario*/

body{
    background-color: rgba(241, 241, 241, 0.473);
}
#texto3{
    text-align: center;
    background-color: rgba(241, 167, 56, 0.507);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#opa{
    text-align: justify;
    font-size: 18px;
}

#laranjinha{
            background-color: rgba(255, 137, 1, 0.925);
            height: 30px;
}
body{
     background-color: rgba(255, 162, 0, 0.185);
}
#btn{
    padding: 6px;
	width: 20%;
	margin: 0 auto;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
     background-color: rgba(182, 120, 26, 0.507);
     border-color: rgba(218, 107, 16, 0.733);
}

#cadastros{
    width: 80%;
	margin: 0 auto;
	padding: 20px;
	border-color: rgba(218, 107, 16, 0.733);
	margin-bottom: 10px;
	border-radius: 50px;
    background-color: rgba(255, 196, 0, 0.493);
    
}
.textinho{
      width: 85%;
	margin: 0 auto;
	padding: 10px;
    border-color: rgb(235, 155, 35);
	margin-bottom: 10px;
	border-radius: 50px;
    
}

#btnSalva{
    padding: 10px;
	width: 30%;
	margin: 0 auto;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
     background-color: rgba(182, 120, 26, 0.507);
     border-color: rgba(218, 164, 16, 0.733); 
     margin-left: 120px;
}
